body{
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    list-style: none;
}
h3{
    border:3px solid gray;
        border-radius: 40px;
        background-color: rgb(196, 246, 255);
        color: black;
        margin-right: 20px;
        padding: 25px;
        width: 600px;
        margin-top: 200px;
        width: fit-content;
    }
    ul{
        margin-top: 100px;
    }
    li{
        list-style-type:none;
    }
    img{
        width: 40%;
        height: 100vh;
        margin-left: 900px;
    }
    
    

    

        